/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"); */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Courier New", Courier, monospace;
  /* font-family: "Open Sans", sans-serif; */
}

section.main {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #444444;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  z-index: 2;
  padding: 1em 4em;
  background-color: #0a0708;
  color: #fff;
}

header .logo {
  text-decoration: none;
  font-weight: 500;
  color: #fff;
}

header .nav {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 0 2em 0 auto;
}

header .nav li {
  list-style: none;
  margin: 0.5em 1em;
}

header .nav li a {
  text-decoration: none;
  color: darkgrey;
  font-weight: 300;
  letter-spacing: 0.5px;
}

header .nav li a:hover {
  color: #fff;
}

header .search {
  position: relative;
  height: 2em;
  width: 18em;
  display: inline-flex;
}

header .search input {
  color: #fff;
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 1px solid #fff;
  border-radius: 0.25em;
  padding: 2px 0.75em 0 2.5em;
}

header .search input::placeholder {
  color: #fff;
}

header .search .fa-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.5em;
  border-right: 2px solid #fff;
  padding-right: 0.5em;
}

.welcome {
  height: 90vh;
  justify-self: center;
}

.welcome h1 {
  padding: 2em;
  color: #cab000;
  font-weight: 200;
  font-size: clamp(1.5rem, 4vw, 3rem);
  text-align: center;
}

main {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 1em;
}

/* cards */

.card {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 450px;
  padding: 1em;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  background-size: cover;
  /* cursor: pointer; */
}

.card::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.75) 100%
  );
}
.card .card__content {
  z-index: 1;
}

.card .card__content .card__content--description {
  color: lightgrey;
  position: absolute;
  bottom: 0;
  left: 0.5em;
  text-align: left;
  width: 100%;
}

.card:hover .play-button {
  transform: scale(1.1);
}

.card:hover .play-button .polygon {
  transform: translateZ(0px) rotate(90deg);
  fill: #cab000;
}

.card:hover .roll-up > span > span:nth-child(1) {
  transform: translateY(-100%);
}

.card:hover .roll-up > span > span:nth-child(2) {
  transform: translateY(0);
}

.card:hover .text-reveal > span:nth-child(2) > span,
.card:hover .text-reveal > span:nth-child(2) > span > span {
  transform: translateX(0);
}

.roll-up {
  overflow: hidden;
  position: relative;
}

.roll-up > span {
  display: inline-block;
  position: relative;
}

.roll-up > span:nth-child(1) {
  transition-delay: 0.03s;
}
.roll-up > span:nth-child(2) {
  transition-delay: 0.06s;
}
.roll-up > span:nth-child(3) {
  transition-delay: 0.09s;
}
.roll-up > span:nth-child(4) {
  transition-delay: 0.12s;
}
.roll-up > span:nth-child(5) {
  transition-delay: 0.15s;
}
.roll-up > span:nth-child(6) {
  transition-delay: 0.18s;
}
.roll-up > span:nth-child(7) {
  transition-delay: 0.21s;
}

.roll-up > span > span {
  display: inline-block;
  transition: 0.6s cubic-bezier(0.7, 0.01, 0.37, 1);
  transition-delay: inherit;
}

.roll-up > span > span:nth-child(1) {
  position: relative;
}
.roll-up > span > span:nth-child(2) {
  position: absolute;
  transform: translateY(100%);
  left: 0;
  color: #14be77;
}

.text-reveal {
  position: relative;
  overflow: hidden;
  font-size: 0.875em;
}

.text-reveal span {
  display: block;
  transition: cubic-bezier(0.7, 0.01, 0.37, 1) 0.6s;
}

.text-reveal > span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
}

.text-reveal > span:nth-child(2) > span {
  overflow: hidden;
  transform: translateX(-100%);
}
.text-reveal > span:nth-child(2) > span:nth-child(1) {
  transition-delay: 0.1s;
}
.text-reveal > span:nth-child(2) > span:nth-child(2) {
  transition-delay: 0.2s;
}
.text-reveal > span:nth-child(2) > span:nth-child(3) {
  transition-delay: 0.3s;
}
.text-reveal > span:nth-child(2) > span:nth-child(4) {
  transition-delay: 0.4s;
}
.text-reveal > span:nth-child(2) > span:nth-child(5) {
  transition-delay: 0.5s;
}
.text-reveal > span:nth-child(2) > span:nth-child(6) {
  transition-delay: 0.6s;
}
.text-reveal > span:nth-child(2) > span:nth-child(7) {
  transition-delay: 0.7s;
}

.text-reveal > span:nth-child(2) > span > span {
  transform: translateX(100%);
  transition-delay: inherit;
}

.play-button {
  display: inline-block;
  width: 33px;
  height: 33px;
  transition: 0.5s;
}

.play-button:hover {
  fill: #14be77;
}

.play-button svg {
  overflow: visible;
}

.play-button .polygon {
  fill: #14be77;
  transition: transform 0.5s, fill 0.5s;
  transition-timing-function: cubic-bezier(0.7, 0.01, 0.37, 1);
  transform-origin: 50% 50%;
}

/* footer */

footer {
  background-color: #747474;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 0 4em;
}

footer p {
  font-size: 1.125em;
}

footer p a {
  margin: 0 0 0 1em;
  color: #000;
}

footer p a:hover {
  color: #fff;
}

/* responsiveness */

@media (min-width: 1000px) {
  header {
    height: 10vh;
  }
}

@media (max-width: 1000px) {
  header {
    flex-direction: column;
  }

  header .search {
    width: 55%;
  }

  header .nav {
    margin: 0.5em 0;
  }
}

@media (max-width: 600px) {
  footer {
    flex-direction: column-reverse;
  }

  header .search {
    width: 100%;
  }

  main {
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  }
}

@media (max-width: 350px) {
  header .nav li {
    margin: 0.5em;
  }
  header .nav li:nth-child(1) {
    margin-left: 0;
  }
  header .nav li:nth-child(2) {
    margin-right: 0;
  }
}
