@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

section.main {
  display: grid;
  grid-template-columns: 1fr;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  z-index: 2;
  padding: 1em 4em;
  background-color: #eee;
}

header .logo {
  text-decoration: none;
  font-weight: bolder;
  color: #000;
}

header .nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1em 0;
}

header .nav li {
  list-style: none;
  margin: 0.5em 1em;
}

header .nav li a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  letter-spacing: 0.5px;
}

header .nav li a:hover {
  color: darkgrey;
}

header .search {
  position: relative;
  height: 2em;
  width: 18em;
}

header .search input {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 1px solid #000;
  border-radius: 0.25em;
  padding: 0 0.75em 0 2.5em;
}

header .search input::placeholder {
  color: #000;
}

header .search .fa-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.5em;
  border-right: 2px solid #000;
  padding-right: 0.5em;
}

main {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1em;
}

.card {
  border: solid 1px #000;
  height: 350px;
}

footer {
  background-color: #ddd;
}

@media (max-width: 1000px) {
  header {
    flex-direction: column;
  }

  header .search {
    width: 55%;
  }
}

@media (max-width: 600px) {
  header .search {
    width: 100%;
  }
}
