section.main {
  display: grid;
  grid-template-columns: 1fr;
}

header {
  background-color: #eee;
}

main {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1em;
}

.card {
  border: solid 1px #000;
  height: 350px;
}

footer {
  background-color: #ddd;
}
