* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #0c0c3f, #1b0846);
  color: #beb466;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
  flex-direction: column;
}

h1 {
  margin-bottom: 1rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem 0.75rem;
  font-size: 1.25rem;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.808);
}

form button {
  color: rgba(255, 255, 255, 0.808);
  background: #061048;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  color: #feed70;
  transform: rotate(180deg);
}

.alert {
  width: 50%;
  height: 1.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  margin: 0 auto 1rem auto;
  text-align: center;
}

.alert-danger {
  color: #501218;
  background: #d69999;
}
.alert-success {
  color: #155724;
  background: #d4edda;
}

.bordered {
  border: solid 3px #aa9706;
  border-radius: 5px;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: rgba(255, 255, 255, 0.808);
  color: black;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}

.trash-btn,
.rename-btn,
.complete-btn {
  background: #9b2e06;
  color: black;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  background: rgb(73, 204, 73);
}

.rename-btn {
  background: #ffe100;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translate(20rem, 20rem);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appeareance: none;
  appearance: none;
  outline: none;
  box-shadow: none;
  border: none;
  font-size: 1.25rem;
  color: rgb(99, 99, 99);
  width: 15rem;
  cursor: pointer;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.808);
}

.select {
  margin: 2rem;
  position: relative;
  overflow: hidden;
}

.select::after {
  content: "\25BC";
  color: rgba(255, 255, 255, 0.808);
  position: absolute;
  background: #061048;
  top: 0;
  right: 0;
  padding: 0.5rem 0.75rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.select:hover::after {
  background: #061048;
  color: #ffe100;
}

/* responsiveness */

@media screen and (max-width: 1000px) {
  form {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  form input {
    width: 12.5rem;
  }
}